HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local Scratch / Crash Logs ###
*.log
*.class
/FixDb.java
/CheckDb.java
/check.sql
/drop_flyway.sql
/drop_and_rebuild.sql
/fix_v3.sql
/fix_admin_and_seed.sql
/recreate_db.sql
/out.txt
/test.bat
hs_err_pid*

### Environment / Secrets ###
.env
.env.local
.env.production

### Docker / Deployment Secrets ###
certbot/
nginx/conf.d/default.conf
!nginx/conf.d/dev.conf.example
